<!DOCTYPE html>
<html lang="en">
    <head>
        <title>管理员个人中心</title>
        <style>
            .userMenu {
                float: left;
                width: 200px;
            }
            
            #content {
                float: left;
            }
        </style>
        <meta charset="utf-8">
        <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
 
    </head>
 
    <body>
        <a href="/home">返回主页</a >
        <!-- <a href="/login_out/">登出</a > -->
        <div class="userWrap">
            <ul class="userMenu">
                <li class="current" data-id="center">学生管理</li>
                <li data-id="question">题库管理</li>
                <li data-id="examing">考试管理</li>
            </ul>
            <div id="content"></div>
        </div>
    </body>
    <script>
        $(function() {
            $(".userMenu").on("click", "li", function() {
                var sId = $(this).data("id"); //获取data-id的值
                window.location.hash = sId; //设置锚点
                loadInner(sId);
            });
 
            function loadInner(sId) {
                var sId = window.location.hash;
                var pathn, i;
                switch(sId) {
                    case "#center":
                        pathn = "/admin_center/";
                        i = 0;
                        break;　　　　　　　
                    case "#question":
                        pathn = "/admin_question/";
                        i = 1;
                        break;
                    case "#examing":
                        pathn = "/admin_examing/";
                        i = 2;
                        break;　　　　　
                    default:
                        pathn = "/admin_center/";
                        i = 0;
                        break;
                }

                $("#content").load(pathn); //加载相对应的内容
                $(".userMenu li").eq(i).addClass("current").siblings().removeClass("current"); //当前列表高亮
            }
            var sId = window.location.hash;
            loadInner(sId);
        });
    </script>
 
</html>
