<!-- 11.html -->
<!DOCTYPE html>
<html lang="en">
 
    <head>
        <title>学生个人中心</title>
        <style>
            .userMenu {
                float: left;
                width: 200px;
            }
            
            #content {
                float: left;
            }
        </style>
        <meta charset="utf-8">
        <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
 
    </head>
 
    <body>
        <a href="/home/">返回主页</a>
        <a href="/login_out/">登出</a>
        <div class="userWrap">
            <ul class="userMenu">
                <li class="current" data-id="center">个人信息</li>
                <li data-id="score">历史成绩</li>
                <li data-id="mistakes">历史错题</li>
                <li data-id="collect">收藏夹</li>
            </ul>
            <div id="content"></div>
        </div>
    </body>
    <script>
        $(function() {
            $(".userMenu").on("click", "li", function() {
                var sId = $(this).data("id"); //获取data-id的值
                window.location.hash = sId; //设置锚点
                loadInner(sId);
            });
 
            function loadInner(sId) {
                var sId = window.location.hash;
                var pathn, i;
                switch(sId) {
                    case "#center":
                        pathn = "/user_center/";
                        i = 0;
                        break;　　　　　　　
                    case "#score":
                        pathn = "/user_score/";
                        i = 1;
                        break;
                    case "#mistakes":
                        pathn = "/user_mistakes/";
                        i = 2;
                        break;
                    case "#collect":
                        pathn = "/user_collect/";
                        i = 3;
                        break;　　　　　　
                    default:
                        pathn = "/user_center/";
                        i = 0;
                        break;
                }
                $("#content").load(pathn); //加载相对应的内容
                $(".userMenu li").eq(i).addClass("current").siblings().removeClass("current"); //当前列表高亮
            }
            var sId = window.location.hash;
            loadInner(sId);
        });
    </script>
 
</html>